{% extends 'base.html' %}
{% load static %}
{% load band_tags %}
{% block content %}


    <div>

        <h1>Upcoming Local Shows:</h1>
        <div style="max-height:400px;overflow:scroll;">
            {% for x in Event %}
                {% is_in_note x as x_bool %}
                {% if x_bool %}
                    <div>
                        <h2>{{ x.notes }}</h2>
                        <p>{{ x.day }}</p>
                        <button class="attending" data-id="{{ x.id }}">Attending</button>
                        <p><span id="attending_{{ x.id }}">{{ x.likes }}</span> people said their going to this.</p>
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <div id="Band Add" style="width:350px;">
                <p><strong>{{ user.username }}</strong>, as member of the HXC Community, you are called upon, and
                    entitled, to suggest new elements for us to track and post. Below you can suggest websites, bands,
                    venues and record labels for us to follow.</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        {% endif %}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>// using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    </script>

    <script>
        $('.attending').click(function () {
            var local_id = $(this).data("id")
            $.ajax({
                url: '{% url "add_attending" %}',
                type: 'POST',
                data: {
                    id: local_id
                },
                success: function (response) {
                    $('#attending_' + local_id).html(response.id)
                    console.log(response)
                }
            })
        })
    </script>
{% endblock %}

