{% extends 'base.html' %}
{% load static %}

<!--<head>-->
	<!--<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="screen">-->
<!--</head>-->
{% block content %}

					<div class="post">
						<h2 class="title">
							<a href="#">
								Latest Posts
							</a>
						</h2>
						<div class="entry">
							 <script src="//lightwidget.com/widgets/lightwidget.js">

							 </script>
    						<iframe src="//lightwidget.com/widgets/90e2c76b6a505bd8a7d30a21c38a6ff1.html" scrolling="yes" allowtransparency="true" class="lightwidget-widget" style="width: 110%; border: 20px; overflow: hidden; padding: 10px; justify-content:left;"></iframe>
						</div>
						<div class="byline">
							<p class="meta">
								Posted by
									<a href="https://www.instagram.com/hxcpdx/">
										@hxcpdx
									</a>
							</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">Comments</a></p>
						</div>
					</div>
{% endblock %}
