{% extends 'base.html' %}

{% load static %}

{% block content %}

    <head>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/moment-2.4.0.js"></script>
<script type="text/javascript" src="scripts/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{#<meta charset="utf-8">#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <!--Active defines the first slide the page loads to. -->
<div>
<h1 style="text-align:center;">Recent Uploads</h1>
    <div class="container" style="width:400px;height:400px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="height:100%;">
            {% for track in doc %}
            {% cycle 'start' as slidestart silent %}
            {% cycle 'end' as slideend silent %}
            {% if slidestart %}
                <div class="item {% if forloop.first %} active      {% endif %}" >
                    <div class="row">{% endif %}
                        <div class="col-md-2">
                            <div class="item active" style="height:100%; margin: 0 auto">
                               <img src="{{ track.document.url }}" style="width:400px;height:100%" class="img-responsive center-block">
                            </div>
                        </div>
                        {% if slideend %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-backward"></span>
            <span class="sr-only">prev</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-forward"></span>
            <span class="sr-only">next</span>
        </a>
        </div>
    </div>
</div>
    <div style="float:right;">
        <h4>Upload Your Photo or Flyer</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
    </div>
{#<script>#}
{#  $(function() {#}
{#    $( ".datetimepicker" ).datetimepicker({#}
{#      changeMonth: true,#}
{#      changeYear: true,#}
{#      yearRange: "1995:2019",#}
{#    });#}
{#  });#}
{#  </script>#}

{% endblock %}