.subgrid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'futura', bold;
    grid-gaps: 5px;
}
.subgrid div {
    width: 180px;
    height: 200px;
    border: 1px solid black;
}
.subgrid a {
    font-size: 3.8em;
    color: transparent;
}

.subgrid a:hover {
    color: white;
    text-shadow: #2B2522;
    text-decoration: none;
}


